<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Devicepage</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
</head>

<body>
<div class="toolbar-model none" id="toolbar-model" >
      <div class="nav-menu">
        <div style="position: relative; left: 25px; top: 25px;">
        	<div class="nav-button" id="nav-button" onclick="navExpand(this)" data-close="close">
            	<image src="../pictures/back.png" class="back-button"></image>
        	</div>
        </div>
        <div class="nav-list">
          <a href="device.html">Device</a>
        	<a href="routine.html">Routine</a>
        </div>
        <div class="nav-list-bottom">
          <a href="login.html" οnclick="removeMemory()">Log out</a>
          <script>
          function myFunction() {
          localStorage.clear();
          }
          </script>
        </div>
      </div>
    </div>
  <div class="header-nav">
    <div class="toolbarNames">
      <div class="nav-button" id="nav-button" onclick="navExpand(this)">
        <image src="../pictures/nav.png" class="nav-pic"></image>
      </div>
       <div class="pageName" id="appHeader">
        Device
      </div>
    </div>
  </div>
  <script src="../controller/toolbarCtlr.js"></script>



 <div ng-app="DeviceCards" ng-controller="DeviceCardsCtrl" data-ng-init="load()">
	  <md-content style="overflow: auto; height: 80%;background-color:#FFF9C4;" class="md-padding" layout-padding="auto">
       <md-button ng-click="show()" class="md-raised" style="left: 10%;background-color:#F9A825;color:white;">
           refresh
        </md-button>
        <md-button ng-click="addDevice()" class="md-raised" style="left: 15%;background-color:#F9A825;color:white;">
           add
        </md-button>
      <div class="cardbase" ng-repeat="x in names" layout="column">

      <md-card style="width:260px;margin:0 auto;background-color:#FFFDE7;" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-cloak>{{x.DeviceName}}</span>
            <span class="md-subhead" ng-cloak>{{x.DeviceId}}</span>
          </md-card-title-text>
          <md-card-title-media> 
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button style="background-color: #FFEE58;" ng-click="chooseTime(x)" href="Time.html">Review</md-button>
          <hr>
          <md-button style="background-color: #FFEE58;" ng-click="track(x)" href="hello.html">Track</md-button>
        </md-card-actions>
      </md-card>
    </div>
       
  </md-content>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.js"></script>
    <script src="../controller/cardview.js"></script>
  </body>