<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>realtime page</title>
  <link rel="stylesheet" type="text/css" href="device.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
</head>

<body>
  <div class="toolbar-model none" id="toolbar-model">
    <div class="nav-menu">
      <div style="position: relative; left: 25px; top: 25px;">
        <div class="nav-button" id="nav-button" onclick="navExpand(this)" data-close="close">
          <image src="../pictures/back.png" class="back-button"></image>
        </div>
      </div>
      <div class="nav-list">
        <a href="device.html">Device</a>
        <a href="routine.html">Routine</a>
      </div>
      <div class="nav-list-bottom">
        <a href="login.html" οnclick="removeMemory()">Log out</a>
        <script>
          function myFunction() {
            localStorage.clear();
          }
        </script>
      </div>
    </div>
  </div>
  <div class="header-nav">
    <div class="toolbarNames">
      <div class="nav-button" id="nav-button" onclick="navExpand(this)">
        <image src="../pictures/nav.png" class="nav-pic"></image>
      </div>
      <div class="pageName" id="appHeader">
        Track
      </div>
    </div>
  </div>
  <script src="../controller/toolbarCtlr.js"></script>

  <div ng-app="homeButtons" ng-controller="AppCtrl">
    <div layout="row">
    <md-button ng-click="start()" class="md-raised" style="margin: 0 auto;margin-top:5%;background-color:#F9A825;color:white;">
      Start
    </md-button>
    <md-button ng-click="end()" class="md-raised" style="margin: 0 auto;margin-top:5%;background-color:#F9A825;color:white;">
      End
    </md-button>
    </div>
  </div>
  <div id="map"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.js"></script>
  <script src="../controller/map.js"></script>


</body>

</html>