<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Devicepage</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="routine.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
</head>

<body>
<div class="hamburger-modal none" id="hamburger-modal" >
      <div class="menu-of-hamburger" id="hamburger-boundary">
        <div style="position: relative; left: 16%; top: 25px;">
        	<div class="hamburger" id="hamburger" onclick="hamburgerExpand(this)" data-close="close">
            	fanghui
        	</div>
        </div>
        <div class="hamburger-links">
          <a href="hello.html">Home</a>
          <a href="device.html">Device</a>
        	<a href="device.html">Routine</a>
        </div>
        <hr>
        <div class="hamburger-links-bottom">
          <a href="login.html">Log In</a>
        </div>
      </div>
    </div>
  <div class="header-background">
    <div class="top-icons">
      <div class="hamburger" id="hamburger" onclick="hamburgerExpand(this)">
        zuobian
      </div>
    </div>
    <div class="logo-container" id="appHeader">
    zhongjian 
    </div>
  </div>
  <script src="../model/toolbar.js"></script>
  <script src="../controller/toolbarCtlr.js"></script>



  <div ng-app="cardDemo1" ng-controller="AppCtrl">
	  <md-content style="overflow: auto; height: 80%;" class="md-padding" layout-padding="auto">
      <div layout="column">

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
        </md-card-actions>
      </md-card>

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
        </md-card-actions>
      </md-card>

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
        </md-card-actions>
      </md-card>

      </div>
  </md-content>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.js"></script>
    <script src="../controller/cardview.js"></script>
  </body>