<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
</head>

<body>
<style>
.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
</style>
    <div class="hamburger-modal none" id="hamburger-modal" >
      <div class="menu-of-hamburger" id="hamburger-boundary">
        <div style="position: relative; left: 16%; top: 25px;">
        	<div class="hamburger" id="hamburger" onclick="hamburgerExpand(this)" data-close="close">
            	back
        	</div>
        </div>
        <div class="hamburger-links">
          <a href="hello.html">Home</a>
          <a href="device.html">Device</a>
        	<a href="routine.html">Routine</a>
        </div>
        <hr>
        <div class="hamburger-links-bottom">
          <a href="login.html">Log In</a>
        </div>
      </div>
    </div>
  <div class="header-background">
    <div class="top-icons">
      <div class="hamburger" id="hamburger" onclick="hamburgerExpand(this)">
        left-nav
      </div>
    </div>
    <div class="logo-container" id="appHeader">
    logo
    </div>
  </div>
  <script src="../model/toolbar.js"></script>
  <script src="../controller/toolbarCtlr.js"></script>

  <div id="map"></div>
  <script src="../controller/routineDetail.js"></script>
	

 </body>

</html>
