<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Devicepage</title>
	<link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
</head>

<body>
<div class="toolbar-model none" id="toolbar-model" >
      <div class="nav-menu">
        <div style="position: relative; left: 25px; top: 25px;">
        	<div class="nav-button" id="nav-button" onclick="navExpand(this)" data-close="close">
            	<image src="../pictures/back.png" class="back-button"></image>
        	</div>
        </div>
        <div class="nav-list">
          <a href="device.html">Device</a>
        	<a href="routine.html">Routine</a>
        </div>
        <div class="nav-list-bottom">
          <a href="login.html" οnclick="removeMemory()">Log out</a>
          <script>
          function myFunction() {
          localStorage.clear();
          }
          </script>
        </div>
      </div>
    </div>
  <div class="header-nav">
    <div class="toolbarNames">
      <div class="nav-button" id="nav-button" onclick="navExpand(this)">
        <image src="../pictures/nav.png" class="nav-pic"></image>
      </div>
       <div class="pageName" id="appHeader">
        Routine
      </div>
    </div>
  </div>
  <script src="../controller/toolbarCtlr.js"></script>



  <div ng-app="RoutineCards" ng-controller="RoutineCardsCtlr" data-ng-init="load()">
	  <md-content style="overflow: auto; height: 80%;background-color:#FFF9C4;" class="md-padding" layout-padding="auto">
     <div layout="row">
      <md-button ng-click="show2()" class="md-raised" style="margin:0 auto;background-color:#F9A825;color:white;">
           refresh
        </md-button>
            </div>
      <div class="cardbase" ng-repeat="y in routinenames" layout="column">
      <md-card style="width:260px;margin:0 auto;background-color:#FFFDE7;" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-cloak>{{y.DeviceId}}</span>
            <span class="md-subhead" ng-cloak>With DeviceId={{y.RoutineName}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" style="width: 50px;">
              <img ng-src="../pictures/delete.png" style="width:20px;float:right" class="md-card-image" alt="Washed Out" ng-click="delete(y)">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button style="background-color: #FFEE58;" href="routineDetails.html"  ng-click="chooseRoutine(y)" >Details</md-button>

        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-mocks.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.js"></script>
    <script src="../controller/routineview.js"></script>
  </body>