*{
  padding: 0;
  margin: 0;
}

   
body{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #FFFDE7;
}

/* Header container */
.header-nav{
  width: 100%;
  height: 20%;
  background: #F57F17;
  display:inline-flex;
  left: 25px; top: 25px;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

#back-button{
  height: 15vw;
  width: 15vw;
}
#nav-pic{
  position: fixed;
}
.nav-button{
  height: 15vw;
  width: 15vw;
}
.nav-button:hover{
  cursor: pointer;
}
.toolbar-model{
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  display: flex;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.25);
}

.nav-menu{
  background: #FFF9C4;
  background-size: cover;
  background-position: 90%;
  width: 270px;
  animation: slide-in-left 0.2s ease;
  position: relative;
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.25);

}
@keyframes slide-in-left {
  0%{
    right: 20%;
  }
  100%{
    right: 0%;
  }
}
.nav-menu-inactive{
  box-shadow: none;
  animation: slide-out 0.2s ease;

}
@keyframes slide-out {
  0%{
    right: 0%;
  }
  100%{
    right: 70%;
  }
}
.nav-list{
  position: relative;
  padding-left:20%;
  top: 20px;
  display: flex;
  flex-direction: column;
}
.nav-list a{
  text-decoration: none;
  color: #F57F17;
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif
}
.nav-list-bottom{
  padding-left:20%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  font-family: 'Times New Roman', Times, serif
}
.nav-list-bottom a{
  text-decoration: none;
  color:#F9A825;
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.toolbarNames{
  position: relative;
  top: 32%;
  width: 85%;
  margin-top: 0;
  display:inline-flex;
}

/* Logoooos */
.pageName{
  font-size: 30;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}

/* CSS STATES */
.animate{
  -webkit-transition: all ease 0.05s;
  -o-transition: all ease 0.05s;
  transition: all ease 0.05s;
}
.animateSlow{
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.none{
  display: none;
}

