<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Choose Time Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">
</head>
<body>
   <div class="header-nav">
    <div class="toolbarNames">
      <div class="nav-button" id="nav-button" onclick="window.location.href='device.html'">
            	<image src="../pictures/back (1).png" class="back-button"></image>
        	</div>

       <div class="pageName" id="appHeader">
        Review
      </div>
    </div>
  </div>



  <div ng-app="timeDemo" ng-controller="AppCtrl">
	  <md-content style="background-color:#FFF9C4;box-shadow: 2px 1px 10px rgba(0.25, 0, 0, 0.25);width:280px;margin:0 auto;" class="md-padding" layout-padding="auto">
      	<div layout="column">
    		<div flex-gt-xs="">
            <h4>start time:</h4>
      <input type="datetime-local" step="1" id="exampleInput" name="input" ng-model="starttime"
      placeholder="yyyy-MM-ddTHH:mm:ss" />
    </div>
			<br>

    	<div flex-gt-xs="">
      		<h4>end time:</h4>
      <input type="datetime-local" step="1" id="exampleInput" name="input" ng-model="endtime"
      placeholder="yyyy-MM-ddTHH:mm:ss" />
      </div>

      <br>
      
      <div flex-gt-xs="">
      <h4>give name(not a must)</h4>
      <input type="text" step="1" id="exampleInput" name="input" ng-model="name"
      placeholder="only number or character"  />
			</div>
    </div>

    

    <md-button  ng-click="getPeriod()" class="md-raised" style="left: 30%;background-color:#F9A825;color:white;">Open</md-button>
  </md-content>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.js"></script>
    <script src="../controller/timeDemo.js"></script>
  </body>
</html>